div.Forecast {
  color: #ffff;
  text-align: center;
  font-size: 18px;
  margin: 0 auto;
  padding: 10px 0;
}

.ForecastPreview {
  color: #ffff;
  text-align: center;
  width: 100%;
}

.Forecast h2 {
  text-align: center;
  color: #43a5f5;
}

.ForecastPreview canvas {
  text-align: center;
}
.row {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .ForecastPreview {
    margin: 10px 15px;
  }
  .ForecastPreview canvas {
    width: 120%;
    margin: 2px;
  }
}
