div.Forecast {
  color: #ffff;
  text-align: center;
  font-size: 18px;
  margin: 0px 0 5px 0p;
  padding: 10px 0;
}

.ForecastPreview {
  color: #ffff;
  text-align: center;
  width: 100%;
  margin: 10px 15px;
}

.Forecast h2 {
  text-align: left;
  color: #43a5f5;
}

.ForecastPreview canvas {
  text-align: center;
  width: 120%;
  margin: 2px;
}
