.Search form {
  margin-left: 15px;
  margin-bottom: 5px;
  text-align: center;
}
.Search label {
  font-size: 20px;
  margin-bottom: 3px;
  color: #ffff;
}

.Search .btn {
  margin: 5px 2px;
  background: #a6c1ee;
  transition: (all 200ms ease-in-out);
}
.Search .btn:hover {
  background: #fbc2eb;
}
