.App h3 {
  color: #ab47bc;
  text-align: right;
  font-size: 70px;
  padding: 5px;
  line-height: 100px;
  margin-right: 10px;
}
.App a {
  color: #42a5f5;
  cursor: default;
  text-decoration: none;
}
.App img {
  margin-left: -15px;
}
.App .active {
  color: #ab47bc;
  cursor: default;
}
.App .active:hover {
  text-decoration: none;
  color: #ab47bc;
}
.hi-lo {
  font-size: 13px;
  position: relative;
  top: -32px;
}
